/.mixin.out
/cache
/config
/defaultconfigs
/coremods
/mods
/logs
/resourcepacks
/XaeroWaypoints
/XaeroWaypoints*
/resources
options.txt
servers.dat
/schematics
/PortableGit
/bin
/saves
usercache.json
usernamecache.json
!/bin/modpack.jar

